[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[user]
    name = Norman Köster
    email = nkoester@techfak.uni-bielefeld.de
[alias]
    ci = commit
    co = checkout
    br = branch -a
    rpull = pull --rebase
    pfush = push
    st = status --short --branch
    ls = log --pretty=format:"%C(yellow)%h\\ %C(magenta)%ad%Cred%d\\ %C(blue)%<(20)%cn\\ %C(white)%s" --decorate --date=short
    la = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %C(blue)[%cn]\\ %C(cyan)%s" --decorate --numstat --
    graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(dim white)%<(8)%cn%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset)' --all
    graph2 = log --graph --abbrev-commit --decorate --date=local --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(dim white)%an%C(reset): %C(white)%s%C(reset)' --all
    tree = "forest --pretty=format:'%C(reset)%C(bold blue)[%h]%C(reset) %C(reset)%C(bold green)[%ar]%C(reset)%C(reset)%C(bold yellow)%d%C(reset) %C(reset)%C(bold white)%s%C(reset) %C(reset)%C(dim white)(%cn)%C(reset)' --style=10 --reverse -n 130"
    treeless = "!f() { git-forest --pretty=format:'%C(reset)%C(bold blue)[%h]%C(reset) %C(reset)%C(bold green)[%ar]%C(reset)%C(reset)%C(bold yellow)%d%C(reset) %C(reset)%C(bold white)%s%C(reset) %C(reset)%C(dim white)(%cn)%C(reset)' --style=10 --reverse $@ | less +G -r ; }; f"
[push]
    default = current
[color]
    ui = auto
[grep]
    lineNumber = True
    fullName = True
[include]
    path = ~/.gitconfig_private
